@keyframes move {
    0% { transform: translate(0, 0); }
  25% { transform: translate(0px, 0); }
  50% { transform: translate(-50px, 300px); }
  75% { transform: translate(-50px, 300px); }
  100% { transform: translate(-50px, 300px); }
}
  .sunflower {
    animation: move 5s forwards;
  }